body{
    background-color: aqua;
    padding-left: 20px;
    background-image: url("quiz1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% ;
    margin-left: 2rem;
    
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px white;
}

#quiz {
    font-weight: bold;
   
}
li{
    border: solid;
    
    /* padding: 10px;
    position: relative;
    margin-right: 70%; */
}
.q1{
 margin-right: 70%;
}
.q2{
    float: right;
    margin-top:-135px ; 
    background-color: yellow;
    margin-right: 20%;
   
    
    
}

.q3{
    margin-top: 30px;
    margin-right: 70%;
}
.q4{
    float: right;
    margin-right: 32%;
    background-color: red;
    margin-top: -135px;
    
}
#Submit{
    background-color: black;
    color: aliceblue;
    margin-left: 2rem;
}
