.page1{
    text-align: center;
    background-color: rgb(0, 255, 85);
    background-size: cover;
    padding: 20px;
    padding-bottom: 40px;
}
.page1 form input{
    border-style: none;
    padding: 10px;
    border-radius: 25px;
}
.page1 form a{
    padding :10px;
    border-radius: 15px;
    background-color: orange;
    text-decoration: none;
    margin-bottom: 5%;
}