body{
    background-color: aqua;
    padding-left: 20px;
    background-image: url("quiz1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% ;
    margin-left: 2rem;
    
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px white;
}

#quiz {
    font-weight: bold;
   
}
li{
    border: solid;
    list-style: none;
    background-color: transparent;
    border-radius: 15%;
    padding: 10px;
    
    /* padding: 10px;
    position: relative;
    margin-right: 70%; */
}
.q1{
 margin-right: 66%;
}
.q2{
    float: right;
    margin-top:-135px ; 
    
    margin-right: 15%;
   
    
    
}

.q3{
    margin-top: 30px;
    margin-right: 66%;
    
}
.q4{
    float: right;
    margin-right: 15%;
    
    
    margin-top: -135px;
    

   
   
    
}
.q4 li{
    /* padding-left: 140px; */
    padding: 80px;
    padding-top: 0px;
}   
#Submit{
    background-color: black;
    color: aliceblue;
    margin-left: 1rem;
    float:right;
    margin-top: 5%;
    margin-right: 5%;
    padding: 10px;
    font-weight: bolder;
}
#result{
    color: red;
    border-radius: 20%;
    text-size-adjust: 200%;
}
